* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  line-height: 1.6;
  font-size: 14px;
}
.main h1 {
  text-align: center;
}

.feedback-form {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 20px;
}
fieldset {
  padding: 10px;
}

.title {
  margin-left: 20px;
  padding: 5px;
  font-size: 24px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.one {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.gender {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 55px;
}
.one option:not(:first-child) {
  background: #d9d7d7;
}

#email,
#phone {
  width: 68%;
}

.title-info select {
  width: 60%;
}
#used {
  margin-left: 40px;
}
.price-title {
  display: flex;
  flex-direction: column;
}
#price {
  width: 60%;
}
datalist {
  display: flex;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 60%;
}

.feedback-form-btn {
  text-align: center;
}
.btn {
  width: 120px;
  padding: 5px 0;
  margin-right: 10px;
  border-radius: 6px;
  font-size: 26px;
}
